In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
p1 = Path.cwd() / 'back_data'
movie = pd.read_csv(p1 / 'movie.csv')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [3]:
cols = movie.columns
inds = movie.index
data = movie.to_numpy()
cols, inds

(Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
        'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
        'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
        'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
        'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
        'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
        'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
        'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
       dtype='object'),
 RangeIndex(start=0, stop=4916, step=1))

In [9]:
movie.values, data, movie.values == data

(array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
        ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
        ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
        ...,
        ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
        ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
        ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object),
 array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
        ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
        ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
        ...,
        ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
        ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
        ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object),
 array([[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [ True,  True,  True, ...,  True, False,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True]]))

In [12]:
# Index 객체는 해시 테이블을 사용해 구현
issubclass(pd.RangeIndex, pd.Index), issubclass(inds.__class__, pd.Index), issubclass(cols.__class__, pd.Index)

(True, True, True)

In [15]:
movie.dtypes.value_counts(), movie.dtypes.value_counts(normalize=True)

(float64    13
 object     12
 int64       3
 dtype: int64,
 float64    0.464286
 object     0.428571
 int64      0.107143
 dtype: float64)

In [16]:
# info() 메서드는 화면에만 출력
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [17]:
movie['director_name'], movie.director_name

(0           James Cameron
 1          Gore Verbinski
 2              Sam Mendes
 3       Christopher Nolan
 4             Doug Walker
               ...
 4911          Scott Smith
 4912                  NaN
 4913     Benjamin Roberds
 4914          Daniel Hsia
 4915             Jon Gunn
 Name: director_name, Length: 4916, dtype: object,
 0           James Cameron
 1          Gore Verbinski
 2              Sam Mendes
 3       Christopher Nolan
 4             Doug Walker
               ...
 4911          Scott Smith
 4912                  NaN
 4913     Benjamin Roberds
 4914          Daniel Hsia
 4915             Jon Gunn
 Name: director_name, Length: 4916, dtype: object)

In [18]:
# label-based, positional-based
movie.loc[:, 'director_name'], movie.iloc[:, 1]

(0           James Cameron
 1          Gore Verbinski
 2              Sam Mendes
 3       Christopher Nolan
 4             Doug Walker
               ...
 4911          Scott Smith
 4912                  NaN
 4913     Benjamin Roberds
 4914          Daniel Hsia
 4915             Jon Gunn
 Name: director_name, Length: 4916, dtype: object,
 0           James Cameron
 1          Gore Verbinski
 2              Sam Mendes
 3       Christopher Nolan
 4             Doug Walker
               ...
 4911          Scott Smith
 4912                  NaN
 4913     Benjamin Roberds
 4914          Daniel Hsia
 4915             Jon Gunn
 Name: director_name, Length: 4916, dtype: object)

In [19]:
movie.loc[:, 'director_name'].index, movie.loc[:, 'director_name'].dtype, movie.loc[:, 'director_name'].size, movie.loc[:, 'director_name'].name

(RangeIndex(start=0, stop=4916, step=1), dtype('O'), 4916, 'director_name')

In [21]:
movie.size, movie.shape

(137648, (4916, 28))

In [23]:
movie.loc[:, 'director_name'].apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)

In [27]:
movie.loc[:, 'director_name'].unique(), movie.loc[:, 'director_name'].nunique()

(array(['James Cameron', 'Gore Verbinski', 'Sam Mendes', ...,
        'Scott Smith', 'Benjamin Roberds', 'Daniel Hsia'], dtype=object),
 2397)

In [28]:
director = movie.loc[:, 'director_name']
fb_likes = movie.loc[:, 'actor_1_facebook_likes']

In [29]:
director.sample(5, random_state=42)

2347      Brian Percival
4687         Lucio Fulci
691        Phillip Noyce
3911       Sam Peckinpah
2488    Rowdy Herrington
Name: director_name, dtype: object

In [31]:
director.value_counts(), director.value_counts(normalize=True)

(Steven Spielberg    26
 Woody Allen         22
 Martin Scorsese     20
 Clint Eastwood      20
 Ridley Scott        16
                     ..
 John Putch           1
 Luca Guadagnino      1
 Sam Fell             1
 Dan Fogelman         1
 Daniel Hsia          1
 Name: director_name, Length: 2397, dtype: int64,
 Steven Spielberg    0.005401
 Woody Allen         0.004570
 Martin Scorsese     0.004155
 Clint Eastwood      0.004155
 Ridley Scott        0.003324
                       ...
 John Putch          0.000208
 Luca Guadagnino     0.000208
 Sam Fell            0.000208
 Dan Fogelman        0.000208
 Daniel Hsia         0.000208
 Name: director_name, Length: 2397, dtype: float64)

In [33]:
director.size == len(director), director.shape

(True, (4916,))

In [35]:
director.count(), movie.count()

(4814,
 color                        4897
 director_name                4814
 num_critic_for_reviews       4867
 duration                     4901
 director_facebook_likes      4814
 actor_3_facebook_likes       4893
 actor_2_name                 4903
 actor_1_facebook_likes       4909
 gross                        4054
 genres                       4916
 actor_1_name                 4909
 movie_title                  4916
 num_voted_users              4916
 cast_total_facebook_likes    4916
 actor_3_name                 4893
 facenumber_in_poster         4903
 plot_keywords                4764
 movie_imdb_link              4916
 num_user_for_reviews         4895
 language                     4904
 country                      4911
 content_rating               4616
 budget                       4432
 title_year                   4810
 actor_2_facebook_likes       4903
 imdb_score                   4916
 aspect_ratio                 4590
 movie_facebook_likes         4916
 dtype: int64)

In [37]:
movie.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,49.000000,93.000000,7.000000,132.000000,607.000000,5.019656e+06,8.361750e+03,1394.750000,0.000000,64.000000,6.000000e+06,1999.000000,277.000000,5.800000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
75%,191.000000,118.000000,189.750000,633.000000,11000.000000,6.110841e+07,9.377275e+04,13616.750000,2.000000,320.500000,4.300000e+07,2011.000000,912.000000,7.200000,2.350000,2000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [38]:
fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [40]:
movie.quantile(0.2)

num_critic_for_reviews            39.00
duration                          91.00
director_facebook_likes            3.00
actor_3_facebook_likes            94.40
actor_1_facebook_likes           510.00
gross                        2924634.20
num_voted_users                 5526.00
cast_total_facebook_likes       1120.00
facenumber_in_poster               0.00
num_user_for_reviews              47.00
budget                       4000000.00
title_year                      1997.00
actor_2_facebook_likes           216.00
imdb_score                         5.60
aspect_ratio                       1.85
movie_facebook_likes               0.00
Name: 0.2, dtype: float64

In [44]:
fb_likes.fillna(0).size, fb_likes.dropna().size

(4916, 4909)

In [42]:
fb_likes.dropna().size

4909

In [45]:
director.value_counts(normalize=True, sort=False, ascending=False)

James Cameron        0.001454
Gore Verbinski       0.001454
Sam Mendes           0.001454
Christopher Nolan    0.001662
Doug Walker          0.000208
                       ...
Neill Dela Llana     0.000208
Anthony Vallone      0.000208
Scott Smith          0.000208
Benjamin Roberds     0.000208
Daniel Hsia          0.000208
Name: director_name, Length: 2397, dtype: float64

In [47]:
director.hasnans

True

In [48]:
imdb_score = movie.loc[:, 'imdb_score']

In [50]:
# 벡터화 계산
imdb_score + 1, imdb_score // 7

(0       8.9
 1       8.1
 2       7.8
 3       9.5
 4       8.1
        ...
 4911    8.7
 4912    8.5
 4913    7.3
 4914    7.3
 4915    7.6
 Name: imdb_score, Length: 4916, dtype: float64,
 0       1.0
 1       1.0
 2       0.0
 3       1.0
 4       1.0
        ...
 4911    1.0
 4912    1.0
 4913    0.0
 4914    0.0
 4915    0.0
 Name: imdb_score, Length: 4916, dtype: float64)

In [51]:
imdb_score > 7, director == 'James Cameron'

(0        True
 1        True
 2       False
 3        True
 4        True
         ...
 4911     True
 4912     True
 4913    False
 4914    False
 4915    False
 Name: imdb_score, Length: 4916, dtype: bool,
 0        True
 1       False
 2       False
 3       False
 4       False
         ...
 4911    False
 4912    False
 4913    False
 4914    False
 4915    False
 Name: director_name, Length: 4916, dtype: bool)

In [52]:
imdb_score.add(1, fill_value=0)

0       8.9
1       8.1
2       7.8
3       9.5
4       8.1
       ...
4911    8.7
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [53]:
fb_likes.fillna(0).astype('int')

0        1000
1       40000
2       11000
3       27000
4         131
        ...
4911      637
4912      841
4913        0
4914      946
4915       86
Name: actor_1_facebook_likes, Length: 4916, dtype: int32

In [54]:
col_map = {'director_name':'director', 'num_critic_for_reviews':'critic_reviews'}
movie.rename(col_map, axis=1).head()

,color,director,critic_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [56]:
def to_clean(val):
    return val.strip().lower().replace(' ', '_').replace('-', '_')
movie.rename(to_clean, axis=1).head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [64]:
def sum_likes(df):
    return df[[col for col in df.columns if 'like' in col and ('actor' in col or 'director' in col)]].sum(axis=1)

In [69]:
cols = ['actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes', 'director_facebook_likes']
movie2 = (movie.assign(has_seen=0,
                       total=movie.loc[:, cols].sum(axis=1),
                       total_likes=sum_likes)
                .assign(total_likes=lambda df: df.total_likes.fillna(0))
)
movie2.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,has_seen,total,total_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,0,2791.0,2791.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,0,46563.0,46563.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,0,11554.0,11554.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,0,95000.0,95000.0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,12.0,7.1,NaN,0,0,274.0,274.0