In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
p1 = Path.cwd() / 'back_data'

In [3]:
movies = pd.read_csv(p1 / 'movie.csv')

In [7]:
# 원하는 열의 리스트를 전달(리스트를 사용하지 않고 여러 열을 전달하지 않도록 주의) -> 해당 열만 출력
# list comprehension 활용 가능 -> 순서가 꼬이는데 sorted(list)로 정렬 가능
movie_actor_director = movies[sorted([col for col in movies.columns if '_name' in col and ('actor' in col or 'director' in col)])]
movie_actor_director

,actor_1_name,actor_2_name,actor_3_name,director_name
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan
4,Doug Walker,Rob Walker,NaN,Doug Walker
...,...,...,...,...
4911,Eric Mabius,Daphne Zuniga,Crystal Lowe,Scott Smith
4912,Natalie Zea,Valorie Curry,Sam Underwood,NaN
4913,Eva Boehnke,Maxwell Moody,David Chandler,Benjamin Roberds
4914,Alan Ruck,Daniel Henney,Eliza Coupe,Daniel Hsia
4915,John August,Brian Herzlinger,Jon Gunn,Jon Gunn

In [8]:
# 열 이름만 전달하면 Series 반환, 단일 아이템 리스트 전달하면 DataFrame 반환
type(movies['director_name']), type(movies[['director_name']]), type(movies.loc[:, 'director_name']), type(movies.loc[:, ['director_name']])

(pandas.core.series.Series,
 pandas.core.frame.DataFrame,
 pandas.core.series.Series,
 pandas.core.frame.DataFrame)