In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
p1 = Path.cwd() / 'back_data'
movie = pd.read_csv(p1 / 'movie.csv')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [3]:
cols = movie.columns
inds = movie.index
data = movie.to_numpy()
cols, inds

(Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
        'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
        'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
        'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
        'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
        'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
        'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
        'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
       dtype='object'),
 RangeIndex(start=0, stop=4916, step=1))

In [9]:
movie.values, data, movie.values == data

(array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
        ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
        ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
        ...,
        ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
        ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
        ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object),
 array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
        ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
        ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
        ...,
        ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
        ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
        ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object),
 array([[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [ True,  True,  True, ...,  True, False,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True]]))

In [12]:
# Index 객체는 해시 테이블을 사용해 구현
issubclass(pd.RangeIndex, pd.Index), issubclass(inds.__class__, pd.Index), issubclass(cols.__class__, pd.Index)

(True, True, True)

In [15]:
movie.dtypes.value_counts(), movie.dtypes.value_counts(normalize=True)

(float64    13
 object     12
 int64       3
 dtype: int64,
 float64    0.464286
 object     0.428571
 int64      0.107143
 dtype: float64)

In [16]:
# info() 메서드는 화면에만 출력
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [17]:
movie['director_name'], movie.director_name

(0           James Cameron
 1          Gore Verbinski
 2              Sam Mendes
 3       Christopher Nolan
 4             Doug Walker
               ...
 4911          Scott Smith
 4912                  NaN
 4913     Benjamin Roberds
 4914          Daniel Hsia
 4915             Jon Gunn
 Name: director_name, Length: 4916, dtype: object,
 0           James Cameron
 1          Gore Verbinski
 2              Sam Mendes
 3       Christopher Nolan
 4             Doug Walker
               ...
 4911          Scott Smith
 4912                  NaN
 4913     Benjamin Roberds
 4914          Daniel Hsia
 4915             Jon Gunn
 Name: director_name, Length: 4916, dtype: object)

In [18]:
# label-based, positional-based
movie.loc[:, 'director_name'], movie.iloc[:, 1]

(0           James Cameron
 1          Gore Verbinski
 2              Sam Mendes
 3       Christopher Nolan
 4             Doug Walker
               ...
 4911          Scott Smith
 4912                  NaN
 4913     Benjamin Roberds
 4914          Daniel Hsia
 4915             Jon Gunn
 Name: director_name, Length: 4916, dtype: object,
 0           James Cameron
 1          Gore Verbinski
 2              Sam Mendes
 3       Christopher Nolan
 4             Doug Walker
               ...
 4911          Scott Smith
 4912                  NaN
 4913     Benjamin Roberds
 4914          Daniel Hsia
 4915             Jon Gunn
 Name: director_name, Length: 4916, dtype: object)

In [19]:
movie.loc[:, 'director_name'].index, movie.loc[:, 'director_name'].dtype, movie.loc[:, 'director_name'].size, movie.loc[:, 'director_name'].name

(RangeIndex(start=0, stop=4916, step=1), dtype('O'), 4916, 'director_name')

In [21]:
movie.size, movie.shape

(137648, (4916, 28))

In [23]:
movie.loc[:, 'director_name'].apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)

In [27]:
movie.loc[:, 'director_name'].unique(), movie.loc[:, 'director_name'].nunique()

(array(['James Cameron', 'Gore Verbinski', 'Sam Mendes', ...,
        'Scott Smith', 'Benjamin Roberds', 'Daniel Hsia'], dtype=object),
 2397)

In [28]:
director = movie.loc[:, 'director_name']
fb_likes = movie.loc[:, 'actor_1_facebook_likes']

In [29]:
director.sample(5, random_state=42)

2347      Brian Percival
4687         Lucio Fulci
691        Phillip Noyce
3911       Sam Peckinpah
2488    Rowdy Herrington
Name: director_name, dtype: object

In [31]:
director.value_counts(), director.value_counts(normalize=True)

(Steven Spielberg    26
 Woody Allen         22
 Martin Scorsese     20
 Clint Eastwood      20
 Ridley Scott        16
                     ..
 John Putch           1
 Luca Guadagnino      1
 Sam Fell             1
 Dan Fogelman         1
 Daniel Hsia          1
 Name: director_name, Length: 2397, dtype: int64,
 Steven Spielberg    0.005401
 Woody Allen         0.004570
 Martin Scorsese     0.004155
 Clint Eastwood      0.004155
 Ridley Scott        0.003324
                       ...
 John Putch          0.000208
 Luca Guadagnino     0.000208
 Sam Fell            0.000208
 Dan Fogelman        0.000208
 Daniel Hsia         0.000208
 Name: director_name, Length: 2397, dtype: float64)