In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import zipfile
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
p1 = Path.cwd() / 'back_data'
movie = pd.read_csv(p1 / 'movie.csv', index_col='movie_title')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [3]:
movie.loc[:, ['duration']].head()

                                            duration
movie_title
Avatar                                         178.0
Pirates of the Caribbean: At World's End       169.0
Spectre                                        148.0
The Dark Knight Rises                          164.0
Star Wars: Episode VII - The Force Awakens       NaN

In [19]:
mv_2hours = movie.loc[:, ['duration']].dropna().gt(120)
movie.loc[:, ['duration']][mv_2hours].dropna()

                                                  duration
movie_title
Avatar                                               178.0
Pirates of the Caribbean: At World's End             169.0
Spectre                                              148.0
The Dark Knight Rises                                164.0
John Carter                                          132.0
...                                                    ...
As It Is in Heaven                                   133.0
Intolerance: Love's Struggle Throughout the Ages     123.0
The Big Parade                                       151.0
Ordet                                                126.0
The Ridges                                           143.0

[1039 rows x 1 columns]

In [21]:
actors = movie.loc[:, ['actor_1_facebook_likes', 'actor_2_facebook_likes']].dropna()
actors.assign(compare=actors.loc[:, 'actor_1_facebook_likes'].gt(actors.loc[:, 'actor_2_facebook_likes']))

,actor_1_facebook_likes,actor_2_facebook_likes,compare
movie_title,,,
Avatar,1000.0,936.0,True
Pirates of the Caribbean: At World's End,40000.0,5000.0,True
Spectre,11000.0,393.0,True
The Dark Knight Rises,27000.0,23000.0,True
Star Wars: Episode VII - The Force Awakens,131.0,12.0,True
...,...,...,...
Signed Sealed Delivered,637.0,470.0,True
The Following,841.0,593.0,True
A Plague So Pleasant,0.0,0.0,False
Shanghai Calling,946.0,719.0,True
My Date with Drew,86.0,23.0,True

In [23]:
# and, or, not을 쓰면 객체 전체(Series 전체)의 truthiness를 찾으려고 시도 → 이치에 맞지 않고 개별 값의 True / False를 찾아야
# '&, |, ~' 등 비트별 연산자는 비교 연산자보다 우선순위가 높으므로 괄호 필요
criteria1 = movie.loc[:, 'imdb_score'] > 8
criteria2 = movie.loc[:, 'content_rating'] == 'PG-13'
criteria3 = (movie.loc[:, 'title_year'] < 2000) | (movie.loc[:, 'title_year'] > 2009)
criteria_final = criteria1 & criteria2 & criteria3
criteria_final.head()

movie_title
Avatar                                        False
Pirates of the Caribbean: At World's End      False
Spectre                                       False
The Dark Knight Rises                          True
Star Wars: Episode VII - The Force Awakens    False
dtype: bool