In [3]:
import pandas as pd
import numpy as np
from pathlib import Path
import zipfile
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import datetime as dt

In [2]:
p1 = Path.cwd() / 'back_data'

In [5]:
pd.to_datetime(pd.Series([10, 100, 1000, 10000]), unit='D')

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
dtype: datetime64[ns]

In [6]:
pd.to_datetime(pd.Series(['12-5-2015', '14-1-2013', '20/12/2017', '40/23/2017']), dayfirst=True, errors='coerce')

0   2015-05-12
1   2013-01-14
2   2017-12-20
3          NaT
dtype: datetime64[ns]

In [7]:
td1 = pd.to_timedelta([10, 100], unit='s')
td2 = pd.to_timedelta(['3 hours', '4 hours'])
td1 + td2

TimedeltaIndex(['0 days 03:00:10', '0 days 04:01:40'], dtype='timedelta64[ns]', freq=None)

In [8]:
pd.to_timedelta('12 days') / pd.to_timedelta('3 days')

4.0

In [10]:
ts = pd.to_datetime('2016-10-1 04:23:23')
ts.ceil('h'), ts.round('h'), ts.floor('h')

(Timestamp('2016-10-01 05:00:00'),
 Timestamp('2016-10-01 04:00:00'),
 Timestamp('2016-10-01 04:00:00'))

In [11]:
crime = pd.read_hdf(p1 / 'crime.h5', 'crime')
crime.head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,traffic-accident-dui-duid,traffic-accident,2014-06-29 02:01:00,-105.000149,39.745753,cbd,0,1
1,vehicular-eluding-no-chase,all-other-crimes,2014-06-29 01:54:00,-104.884660,39.738702,east-colfax,1,0
2,disturbing-the-peace,public-disorder,2014-06-29 02:00:00,-105.020719,39.706674,athmar-park,1,0
3,curfew,public-disorder,2014-06-29 02:18:00,-105.001552,39.769505,sunnyside,1,0
4,aggravated-assault,aggravated-assault,2014-06-29 04:17:00,-105.018557,39.679229,college-view-south-platte,1,0

In [12]:
crime.dtypes

OFFENSE_TYPE_ID              category
OFFENSE_CATEGORY_ID          category
REPORTED_DATE          datetime64[ns]
GEO_LON                       float64
GEO_LAT                       float64
NEIGHBORHOOD_ID              category
IS_CRIME                        int64
IS_TRAFFIC                      int64
dtype: object

In [13]:
crime = crime.set_index('REPORTED_DATE')
crime.head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2014-06-29 02:01:00,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 01:54:00,vehicular-eluding-no-chase,all-other-crimes,-104.884660,39.738702,east-colfax,1,0
2014-06-29 02:00:00,disturbing-the-peace,public-disorder,-105.020719,39.706674,athmar-park,1,0
2014-06-29 02:18:00,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0

In [14]:
crime.loc['2016-05', :]

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2016-05-02 01:11:00,public-order-crimes-other,all-other-crimes,-104.959488,39.771389,clayton,1,0
2016-05-02 17:30:00,traffic-accident-hit-and-run,traffic-accident,-104.985704,39.781041,globeville,0,1
2016-05-02 15:15:00,theft-of-motor-vehicle,auto-theft,-104.957429,39.779528,elyria-swansea,1,0
2016-05-01 04:50:00,traffic-accident-hit-and-run,traffic-accident,-105.035241,39.699792,westwood,0,1
2016-05-01 10:02:00,theft-items-from-vehicle,theft-from-motor-vehicle,-104.944782,39.729557,congress-park,1,0
...,...,...,...,...,...,...,...
2016-05-27 10:17:00,assault-simple,other-crimes-against-persons,-104.892916,39.659553,hampden,1,0
2016-05-14 19:07:00,burglary-residence-by-force,burglary,-104.884967,39.741850,east-colfax,1,0
2016-05-01 21:47:00,menacing-felony-w-weap,aggravated-assault,-105.025088,39.707590,westwood,1,0
2016-05-18 09:33:00,burglary-business-by-force,burglary,-105.059901,39.653906,bear-valley,1,0
2016-05-23 11:02:00,harassment-sexual-in-nature,public-disorder,-104.941425,39.689896,cory-merrill,1,0

In [16]:
crime.loc['2015-11':'2015-12', :].sort_index()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2015-11-01 00:00:00,criminal-trespassing,all-other-crimes,-104.997323,39.710777,baker,1,0
2015-11-01 00:07:00,traffic-accident-dui-duid,traffic-accident,-104.978159,39.724022,speer,0,1
2015-11-01 00:07:00,disturbing-the-peace,public-disorder,-105.047392,39.759143,west-highland,1,0
2015-11-01 00:10:00,traf-other,all-other-crimes,-105.043202,39.708930,westwood,1,0
2015-11-01 00:15:00,theft-shoplift,larceny,-105.024785,39.788961,chaffee-park,1,0
...,...,...,...,...,...,...,...
2015-12-31 23:35:00,drug-cocaine-possess,drug-alcohol,-104.988019,39.753420,five-points,1,0
2015-12-31 23:40:00,traffic-accident,traffic-accident,-104.945076,39.736768,congress-park,0,1
2015-12-31 23:44:00,drug-cocaine-possess,drug-alcohol,-104.966814,39.746460,city-park-west,1,0
2015-12-31 23:45:00,violation-of-restraining-order,all-other-crimes,-105.034887,39.741827,west-colfax,1,0
2015-12-31 23:50:00,weapon-poss-illegal-dangerous,all-other-crimes,-105.032769,39.709188,westwood,1,0

In [17]:
%%timeit
crime.loc['2015-11':'2015-12', :].sort_index()

6.35 ms ± 103 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [18]:
%%timeit
crime.sort_index().loc['2015-11':'2015-12', :]

61.6 ms ± 224 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [22]:
crime = pd.read_hdf(p1 / 'crime.h5', key='crime')
crime.head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,traffic-accident-dui-duid,traffic-accident,2014-06-29 02:01:00,-105.000149,39.745753,cbd,0,1
1,vehicular-eluding-no-chase,all-other-crimes,2014-06-29 01:54:00,-104.884660,39.738702,east-colfax,1,0
2,disturbing-the-peace,public-disorder,2014-06-29 02:00:00,-105.020719,39.706674,athmar-park,1,0
3,curfew,public-disorder,2014-06-29 02:18:00,-105.001552,39.769505,sunnyside,1,0
4,aggravated-assault,aggravated-assault,2014-06-29 04:17:00,-105.018557,39.679229,college-view-south-platte,1,0

In [23]:
crime.loc[crime['REPORTED_DATE'] == '2016-05-12 16:45:00', :]

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
300905,traffic-accident,traffic-accident,2016-05-12 16:45:00,-104.847024,39.779596,montbello,0,1
302354,traffic-accident,traffic-accident,2016-05-12 16:45:00,-105.049180,39.769296,west-highland,0,1
302373,fraud-identity-theft,white-collar-crime,2016-05-12 16:45:00,-104.931971,39.717359,hilltop,1,0

In [25]:
# inclusive의 default는 'both' → 2016-05-13 00:00:00에 닫힘
crime.loc[crime['REPORTED_DATE'].between('2016-05-12', '2016-05-13', inclusive='left'), :]

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
295715,criminal-mischief-other,public-disorder,2016-05-12 23:51:00,-105.017241,39.705845,athmar-park,1,0
296474,liquor-possession,drug-alcohol,2016-05-12 18:40:00,-104.995692,39.747875,cbd,1,0
297204,traffic-accident,traffic-accident,2016-05-12 22:26:00,-104.880037,39.777037,stapleton,0,1
299383,theft-bicycle,larceny,2016-05-12 20:35:00,-104.929350,39.763797,northeast-park-hill,1,0
299389,theft-of-motor-vehicle,auto-theft,2016-05-12 09:39:00,-104.941233,39.775510,elyria-swansea,1,0
...,...,...,...,...,...,...,...,...
358208,public-peace-other,public-disorder,2016-05-12 17:55:00,-105.027747,39.700029,westwood,1,0
358448,threats-to-injure,public-disorder,2016-05-12 19:24:00,-104.947118,39.763777,clayton,1,0
363134,sex-aslt-rape,sexual-assault,2016-05-12 22:28:00,NaN,NaN,harvey-park-south,1,0
365959,menacing-felony-w-weap,aggravated-assault,2016-05-12 15:59:00,-104.935172,39.723703,hilltop,1,0
378711,assault-dv,other-crimes-against-persons,2016-05-12 16:39:00,-104.974700,39.740555,north-capitol-hill,1,0