In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

In [4]:
p1 = Path.cwd() / 'back_data'
movies = pd.read_csv(p1 / 'movie.csv')
# index label(axis=0), column name(axis=1), NaN(Not a Number -> 결측치)
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [5]:
columns = movies.columns
# 가능하다면 Index 객체는 hash 테이블을 사용해 구현 -> set와 유사하나 순서가 있고 항목 중복 가능
index = movies.index
# numpy의 ndarray -> pandas의 대부분은 ndarray에 크게 의존
data = movies.to_numpy()
issubclass(columns.__class__, pd.Index)

True

In [6]:
# 데이터의 형식은 continuous(연속형, 연속변수)과 categorical(범주형, 이산변수)
# pandas의 분류 -> float, int, object, category(pd.Categorical), bool, datetime64[ns] 등
# 데이터 형식에 따라 연산 종류가 달라진다는 점 고려

In [9]:
# dtypes 메서드 활용해 데이터 형식 파악 -> value_counts() 메서드 체인 가능
# object 형식은 유효한 모든 파이썬 객체 포함
movies.dtypes.value_counts()

float64    13
object     12
int64       3
dtype: int64

In [10]:
# info() 메서드 활용(화면에만 출력) -> Series는 info()가 없음
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [14]:
# label-based / positional-based 열 또는 행 선택 -> loc, iloc
# False가 있는 이유 -> NaN은 자기 자신과 같지 않음
movies.loc[:, 'director_name'] == movies.iloc[:, 1]

0        True
1        True
2        True
3        True
4        True
        ...
4911     True
4912    False
4913     True
4914     True
4915     True
Name: director_name, Length: 4916, dtype: bool

In [13]:
# .equals() 메서드를 통해 전체 비교
movies.loc[:, 'director_name'].equals(movies.iloc[:, 1])

True

In [15]:
# Series는 DataFrame의 dtypes 메서드와 달리 'dtype' 사용
movies['director_name'].dtype

dtype('O')

In [16]:
# apply() 메서드와 체인하여 'director_name'의 각 type 확인
# apply는 각 데이터에 반영, pipe는 전체 DataFrame 혹은 Series에 반영
movies['director_name'].apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)

In [17]:
director = movies['director_name']
fb_likes = movies['actor_1_facebook_likes']

In [18]:
# sample() 메서드 -> 첫 번째 인자는 샘플 개수, 두 번째 인자는 고정적인 상태 지정
director.sample(5, random_state=42)

2347      Brian Percival
4687         Lucio Fulci
691        Phillip Noyce
3911       Sam Peckinpah
2488    Rowdy Herrington
Name: director_name, dtype: object

In [20]:
# value_counts() 메서드를 통해 빈도(이산변수에서의 도수) 확인 가능
# normalize=True 인자 전달하여 상대도수 확인도 가능, sort= 인자 전달하여 정렬 여부도 가능, ascending= 인자 전달하여 정렬 방식도 가능
director.value_counts(normalize=True, sort=False)

James Cameron        0.001454
Gore Verbinski       0.001454
Sam Mendes           0.001454
Christopher Nolan    0.001662
Doug Walker          0.000208
                       ...
Neill Dela Llana     0.000208
Anthony Vallone      0.000208
Scott Smith          0.000208
Benjamin Roberds     0.000208
Daniel Hsia          0.000208
Name: director_name, Length: 2397, dtype: float64

In [23]:
# unique() 메서드 활용하여 고유한 값을 가진 numpy 배열 반환
# count() 메서드는 결측치가 아닌 개수 반환(Series는 info() 미지원하므로 이렇게 확인)
director.size, director.shape, len(director), director.unique(), director.count()

(4916,
 (4916,),
 4916,
 array(['James Cameron', 'Gore Verbinski', 'Sam Mendes', ...,
        'Scott Smith', 'Benjamin Roberds', 'Daniel Hsia'], dtype=object),
 4814)

In [27]:
# min(), max(), mean(), median(), std() 등 기본적 통계량 확인 가능
# describe() 메서드를 사용해 요약 통계량 표시 -> 숫자형이냐 object 형식이냐에 따라 완전히 다른 값 반환
fb_likes.describe(percentiles=[0.2, 0.5, 0.8]), director.describe()

(count      4909.000000
 mean       6494.488491
 std       15106.986884
 min           0.000000
 20%         510.000000
 50%         982.000000
 80%       13000.000000
 max      640000.000000
 Name: actor_1_facebook_likes, dtype: float64,
 count                 4814
 unique                2397
 top       Steven Spielberg
 freq                    26
 Name: director_name, dtype: object)

In [26]:
# quantile() 메서드는 분위수를 계산 : 입력이 스칼라면 출력도 스칼라, 입력이 리스트면 출력은 Series
# describe() 메서드 내에서는 percentiles= 인자를 전달하여 분위수 확인
fb_likes.quantile([0.1, 0.5, 0.9])

0.1      240.0
0.5      982.0
0.9    18000.0
Name: actor_1_facebook_likes, dtype: float64

In [28]:
# isna()로 결측치 확인(반대는 notna())
# fillna('') 메서드로 결측치 대체
# hasnans 메서드로 전체 Series에 결측치가 있는지 여부도 확인

In [31]:
# dropna() 메서드를 통해 결측치 제거 -> DataFrame이라면 how='all' / how='any'인자 전달 가능
fb_likes_dropped = fb_likes.dropna(how='all')
fb_likes_dropped.shape

(4909,)

In [32]:
imdb_score = movies['imdb_score']
imdb_score.head()

0    7.9
1    7.1
2    6.8
3    8.5
4    7.1
Name: imdb_score, dtype: float64

In [35]:
# Series는 벡터화 계산 가능 : 'imdb_score + 1' 형식 -> apply(lambda ..) 활용하는 것 보다 더 효율적
# 더하기, 곱하기, 나누기, 지수(**), 몫(//), 나머지 등 모두 가능
# 비교 연산자 (>, =, != 등)도 활용 가능 -> 필터링에서 유용하게 활용 가능
# add()메서드 등으로 메서드 체인에 활용 -> add, sub, mul, div, mod, divmod, eq, gt, ge, lt, le
imdb_score.sub(7, fill_value=0)

0       0.9
1       0.1
2      -0.2
3       1.5
4       0.1
       ...
4911    0.7
4912    0.5
4913   -0.7
4914   -0.7
4915   -0.4
Name: imdb_score, Length: 4916, dtype: float64

In [36]:
# 결측치 개수 확인
fb_likes.isna().sum() == fb_likes.size - fb_likes.count()

True

In [38]:
# 결측치가 있는 숫자면 데이터 형식이 float -> 결측치를 대체하면 astype() 메서드 활용해 정수로 변환 가능
(fb_likes
.fillna(0)
.astype(int)
.head()
)

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32

In [43]:
col_map = {'director_name':'Director Name', 
             'num_critic_for_reviews': 'Critical Reviews'} 
# rename() 메서드를 사용하여 열 이름 변경
movies.rename(columns=col_map)[col_map.values()]
# movies.rename(col_map, axis=1)[col_map.values()] 형식 가능

          Director Name  Critical Reviews
0         James Cameron             723.0
1        Gore Verbinski             302.0
2            Sam Mendes             602.0
3     Christopher Nolan             813.0
4           Doug Walker               NaN
...                 ...               ...
4911        Scott Smith               1.0
4912                NaN              43.0
4913   Benjamin Roberds              13.0
4914        Daniel Hsia              14.0
4915           Jon Gunn              43.0

[4916 rows x 2 columns]

In [46]:
# index_col= 인자를 활용하여 import 시 인덱스 설정 가능
movies2 = pd.read_csv(p1 / 'movie.csv', index_col='movie_title')
# numpy에서는 tolist()만 가능하므로 가급적 pandas에서도 to_list() 대신 tolist()로 활용
idxs = movies2.index.tolist()
columns = movies2.columns.tolist()
# 인덱스, 열 이름을 직접 변경
idxs[0] = 'Ratava'
idxs[1] = 'POC'
idxs[2] = 'Ertceps'
columns[1] = 'director'
columns[-2] = 'aspect'
columns[-1] = 'fblikes'
movies2.index = idxs
movies2.columns = columns
movies2[['director', 'aspect', 'fblikes']].head()

                                                     director  aspect  fblikes
Ratava                                          James Cameron    1.78    33000
POC                                            Gore Verbinski    2.35        0
Ertceps                                            Sam Mendes    2.35    85000
The Dark Knight Rises                       Christopher Nolan    2.35   164000
Star Wars: Episode VII - The Force Awakens        Doug Walker     NaN        0

In [48]:
# rename() 메서드에 함수를 전달하는 것도 가능 -> 간단한건 lambda 함수로 진행
movies.rename(columns=lambda val: val.strip().lower().replace(' ', '_')).head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [49]:
# assign() 메서드로 열 수정 혹은 새 열 생성(마지막 열에 추가)
# drop() 메서드로 열 삭제

In [52]:
cols = ['actor_1_facebook_likes','actor_2_facebook_likes',
    'actor_3_facebook_likes','director_facebook_likes']
# sum() 메서드를 체인시켜 원하는 열들의 값을 더하기 가능
# + 연산자는 결과에 NaN이 남아있지만, sum() 메서드는 기본 설정에서 결측치를 무시
sum_col = movies.loc[:, cols].sum(axis=1)
# assign() 메서드를 통해 해당 sum_col을 total_likes 열 이름으로 삽입
movies.assign(total_likes=sum_col).head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,total_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,2791.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,46563.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,11554.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,95000.0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,274.0

In [56]:
# assign() 메서드에 함수를 추가하는 것도 가능
total_likes = (movies
# lambda 함수와 list comprehension을 통해 actor / director facebook likes만 추리기
.assign(total_likes=lambda df: df[[col for col in df.columns if 'like' in col and ('actor' in col or 'director' in col)]].sum(axis=1))
['total_likes']
)
total_likes

0        2791.0
1       46563.0
2       11554.0
3       95000.0
4         274.0
         ...
4911     1427.0
4912     1753.0
4913        0.0
4914     2154.0
4915      141.0
Name: total_likes, Length: 4916, dtype: float64

In [58]:
# pd.Series() 함수를 이용, movie_title 열을 인덱스로 사용하여 Series 생성 가능
pd.Series(total_likes.to_numpy(), index=movies['movie_title'])

movie_title
Avatar                                         2791.0
Pirates of the Caribbean: At World's End      46563.0
Spectre                                       11554.0
The Dark Knight Rises                         95000.0
Star Wars: Episode VII - The Force Awakens      274.0
                                               ...
Signed Sealed Delivered                        1427.0
The Following                                  1753.0
A Plague So Pleasant                              0.0
Shanghai Calling                               2154.0
My Date with Drew                               141.0
Length: 4916, dtype: float64

In [59]:
# columns의 get_loc() 메서드 사용하여 열 이름의 정수 위치 찾기 가능
movies.columns.get_loc('gross')

8

In [ ]:
# insert() 메서드, del문 활용을 통해 열 삽입, 삭제가 가능하나, 원시 DataFrame을 변형시키므로 가급적 회피
# insert()는 새 열의 정수 위치를 첫 번째 인자, 새 열의 이름을 두 번째 인자, 값을 세 번째 인자로